@import url("style.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  margin: 0em 3.5em 3.5em 3.5em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}

.logo {
  height: 3em;
  margin-left: 0.5em;
}

/* ################################################################ */

#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  overflow: auto;
}

body.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.modal-open .header_container,
.modal-open #photographer_media {
  opacity: 0.5;
  pointer-events: none;
}

/* ################################################################ */

.photograph_header {
  background-color: #fafafa;
  align-items: center;
  justify-self: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 0em 0em 5em 0em;
  padding: 1em 0em 1em 1em;
}

a {
  text-decoration: none;
}

.photographer_info {
  grid-column: 1;
  gap: 0.2em;
  justify-content: center;
  gap: 0.2em;
  flex: 1;
}

.photographer_info h2 {
  color: #d3573c;
  font-size: 1.6em;
}

.photographer_info .p1 {
  color: #901c1c;
  font-size: 1.1em;
}
.photographer_info .p2 {
  font-size: 0.8em;
  color: black;
}

.contact_button {
  font-weight: bold;
  color: white;
  padding: 0.5em;
  width: 9em;
  height: 2.5em;
  border: none;
  background-color: #901c1c;
  border-radius: 0.5em;
  cursor: pointer;
  align-self: center;
  font-size: 1em;
  grid-column: 2;
  margin: 0em 3em 0em 3em;
}

.contact_button:focus {
  outline: none;
}

.photograph_header img {
  display: flex;
  width: 50%;
  aspect-ratio: 1 / 1;
  clip-path: circle(30% at 50% 50%);
  float: right;
  object-fit: contain;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  grid-column: 3;
  justify-content:end;
}

/* ################################################################ */

.dropdown {
  margin-top: 20px;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
}

/* ################################################################ */

#total_likes {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 1em;
  padding: 10px;
  color: black;
  font-size: 16px;
}

.modal-open .header_container,
.modal-open #photographer_media {
  opacity: 0.5;
  pointer-events: none;
}

.modal-open #contact_modal {
  display: flex;
}

/* ################################################################ */

#photographer_media {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 3em;
  gap: 4em;
}

.media_element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.media_element img,
.media_element video {
  max-width: 25em;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.mediaInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  color: #901C1C;
}

.mediaInfo h3 {
  margin: 0;
  order: 1; 
}

.mediaInfo span,
.mediaInfo button {
  order: 2;
}

.mediaInfo span {
  font-size: 0.9em;
}

.mediaInfo button {
  padding: 0.2em;
  color: #901C1C;
}

button.like_button.like_button_active {
  color: #901C1C;
}

/* ################################################################ */

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  overflow: auto;
}

#lightbox.open {
  display: flex;
}

.lightbox-container {
  display: none;
}

.lightbox-container.open {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.lightbox-content {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

button.previous {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  border: none;
  padding: 10px;
  cursor: pointer;
  left: 2em;
  color: #901c1c;
  margin-left: 5em;
}

button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  border: none;
  padding: 10px;
  cursor: pointer;
  right: 2em;
  color: #901c1c;
  margin-right: 5em;
}

.image-title {
  position: absolute;
  bottom: 5em;
  left: 5em;
  color: #901c1c;
  font-size: 5em;
}

.lightbox-close {
  position: absolute;
  top: 3em;
  right: 7em;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #901c1c;
  font-size: 2em;
}

.lightbox-close img {
  width: 20px;
  height: 20px;
}

.lightbox-content img {
  display: block;
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.lightbox-content video {
  max-width: 25em;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.lightbox-content .image-title {
  color: #901C1C;
}

/* ################################################################ */

/* Opacity for background elements */
.modal-open {
  opacity: 0.6;
  pointer-events: none;
}

.modal {
  border-radius: 0.5em;
  background-color: #db8876;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  margin: 20px auto;
  border-radius: 4px;
}

.modal header {
  display: flex;
  justify-content: space-between;
}

.modal header .column-left {
  display: flex;
  align-items: left;
  width: 70%;
  flex-grow: 1;
}

.modal header h2 {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  padding-top: 4em;
}

.modal header span {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.modal img.close-modal {
  margin-left: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* ################################################################ */

.modal form {
  margin-top: 20px;
}

.modal form div {
  margin-bottom: 10px;
}

.modal form label {
  display: block;
  font-weight: bold;
}

.modal form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal form button {
  display: block;
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #901C1C;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 2em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 1em;
}

form input {
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 0.5em;
}

.input-container {
  width: 100%;
}

.input-container textarea {
  width: 100%; 
  height: 100px; 
  resize: vertical; 
  box-sizing: border-box;
}

button.submit_button {
  padding: 0.5em;
  width: 9em;
  height: 2.5em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}
